# Python Stuff #
################
MANIFEST
*.c
*.so
*.pyc
*.pyxc
*.pyo
*~
*.lock
*.swp
*.DS_Store
*profile.out
twistd.pid
yombogateway.pid
/*.zip
_trial_temp
/ENV
test.py
*.bak

# Yombo Stuff #
###############
yombo.ini*
builddocs.sh*
localmodules.ini*
automation.txt*
*.freeze
*test.db

# Building / Documentation #
############################
MANIFEST
build/
dist/
docs/build/
docs/*.sh
webroot/*
yombo/lib/html5*
yombo/lib/old*
yombo/lib/webinterface/static/dist
!yombo/lib/webinterface/static/dist/img/*
*.jar
*ombo.egg-info*

# Logs and Databases #
######################
1
*.log
*.out
usr/*
!usr/README.rst
mymodules/*

# Project Tools #
#################
/nbproject
*.git-bundle
/.project
/.pydevproject
x10testout.txt
mitchlog.*
old/*
.idea/*

# Ignore Modules folder, except for system modules and demos #
##############################################################
yombo/modules/*
!yombo/modules/__init__.py
!yombo/modules/automationexample/
!yombo/modules/automationhelpers/
!yombo/modules/empty/
!yombo/modules/logreader/
!yombo/modules/logwriter/
!yombo/modules/moduleunittest/
