recursive-include yombo *.py
recursive-include yombo *.py
recursive-exclude yombo/modules *
include ybo
include yombo.tac
include LICENSE
include COPYING
include HACKING.rst
include README.rst
include requirements.