hbmqtt; python_version > '3.3'
Twisted; python_version > '3.6.0'
asyncio
parsedatetime
netifaces
python-gnupg
gnupg
service_identity
netaddr
klein
markdown
pika
pyopenssl
pycrypto
ephem
jinja2
docutils
msgpack-python
six
hashids
pyserial
python_dateutil
hjson
decorator
treq
uvloop
voluptuous
unidecode
pytz
voluptuous
unidecode
pydispatcher
cython
wheel
python_openzwave

#psutil
#pytest
#arrow
