aiohttp==3.6.2
argon2_cffi==20.1.0
attrs==19.3.0
attrdict==2.0.1
asyncio==3.4.3
cachetools==4.1.*
certifi==2020.6.*
cryptography==2.9.*
cython==0.29.*
decorator==4.4.2
distro==1.5.0
docutils==0.16.*
ephem==3.7.7.*
gnupg==2.3.1
GitPython==3.1.*
gmqtt==0.6.*
hashids==1.2.0
jinja2==2.11.*
# JSONPickle 0.9.6 to support bandwidth-sdk 5.1.1
jsonpickle==0.9.*
klein==20.6.0
logger==1.4
lz4==3.1.*
markdown==3.2.*
marshmallow==3.6.*
marshmallow-jsonapi==0.23.*
msgpack==1.0.0
netaddr==0.7.19
netifaces==0.10.9
numpy==1.19.*
packaging==20.4.*
parsedatetime==2.6
passlib==1.7.2
pika==1.1.0
Pillow==7.2.*
pycountry==19.8.18
pycryptodome==3.9.8
pydispatcher==2.0.5
pyephem==3.7.*
pyjwt==1.7.*
pyopenssl==19.1.*
# Pyserial 3.2. is required for insteonplm.
pyserial==3.2.0
python_dateutil==2.8.*
python-gnupg==0.4.6
python-slugify==4.0.1
pytz==2020.1
ratelimit==2.2.*
service_identity==18.1.0
simplejson==3.17.0
treq==20.4.*
twisted==20.3.*
tomlkit==0.6.*
unidecode==1.1.*
uvloop==0.14.*
vakt==1.4.0
voluptuous==0.11.7
wheel==0.34.*
yoyo-migrations==7.1.*
