.method {
    padding-top: .15em;
    border-top: dashed thin #d2c7cd;
}

.method dd {
    margin-left: 1.5em;
}

.exception {
    padding-top: .15em;
    border-top: dashed #bfabd2;
}

.exception dd {
    margin-left: 1em;
}

